body{
    background-color: #4668a5;
    margin: 0;
}
div{
     background-color: cornflowerblue;
    color: white;
    font-size: 3vw;
    text-align: center;
    width: 75vw;
    margin: 0 auto;
    position: relative;
    top: 50px;
    border: 4px solid white;
    padding-top: 20px;
    border-radius: 30px;
}