#work {
    width: 33vw;
    height: 33vh;
    position: fixed;
    top: 33.5vh;
    left: 33.5vw;
    background-image: url(people.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(100%)
}

body {
    margin: 0;
    background-color: cornflowerblue;
    color: white;
    font-family: monospace;
    text-align: center;
}

h1,
h2 {
    position: fixed;
    width: 100vw;
}

h1 {
    top: 10vh;
}

h2 {
    bottom: 10vh;
}