#about > h2 {
    text-align: center;
    font-weight: lighter;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


#about img{
    width: 100%;
}
#about p{
    font-size: 1.3vw;
    text-align: right;
}