#contact {
    color: white;
    background-color: #213b50;
    width: 100%;
    height: 400px;
    position: relative;
}

/*Strefa adresowa*/

#adres {
    font-style: normal;
    position: absolute;
    top: 20px;
    left: 15px;
    width: 45%;
    height: 250px;
}

#tel3f0n {
    margin-top: 50px;
}

/*Koniec strefy adresowej*/

/*Formularz kontakt*/

#form {
    margin-top: 30px;
    position: absolute;
    width: 45%;
    height: 350px;
    top: 20px;
    right: 15px;
}

address a {
    text-decoration: none;
    color: #1ac056;
}

input,
textarea {
    display: block;
    margin-bottom: 15px;
    width: 95%;
    height: 30px;
    background-color: #294b66;
    color: white;
    border: 0px solid;
    resize: none;
}

textarea {
    height: 120px
}

button {
    background-color: #1ac056;
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border: 4px solid green;
    border-radius: 25px;
    transition: all 2s ease-in-out;
}

button:hover {
    border-radius: 0px;
    cursor: pointer;
    background-color: green;
    border-color: #1ac056;
}

/*Koniec formularza*/

/*Ikony*/

#ikony {
    width: 45%;
    height: 50px;
    position: relative;
    top: 290px;
    left: 15px;
    font-size: 45px;
}



.fa-facebook-f,
.fa-instagram,
.fa-youtube {
    color: $icon;
    transition: all 1s ease-in-out;
}

.fa-facebook-f:hover {
    color: $fb;
    @include rotate;
}

.fa-instagram:hover {
    color: $ig;
    @include rotate;
}

.fa-youtube:hover {
    color: $yt;
    @include rotate;
}

footer {
    background-color: #182b3a;
    color: $biel;
    height: 23px;
    text-align: center;
    font-size: 16px;

}