@mixin shadow{
    background-color: $aboutbackground;
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-box-shadow: $shadowsize $shadowcolor;
        -moz-box-shadow: $shadowsize $shadowcolor;
        box-shadow: $shadowsize $shadowcolor;
}
@mixin animspecs{
    display: inline-block;
        position: relative;
        height: 25vw;
        background-size: cover;
}
@mixin skilldivspecs{
    height: 12vw;
        display: inline-block;
        margin-left: 3vw;
        margin-right: 3vw;
        margin-top: 20px;
        text-align: center;
}
@mixin rotate{
    transform: rotate(30deg);
}