nav {
    float: right;
}

nav > ul > a > li {
    display: inline-block;
    height: 20px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    color: $biel;
    font-size: 15px;
    transition: color 1s;

}

a > li:hover {
    color: $zielony;
}
