#skill {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;

}

#skill > h2 {
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 40px;
}

#skill > p {
    margin-left: 7vw;
    margin-right: 7vw;
}
