$aboutbackground: #f9fcfe;
$zielony: #1ac056;
$mainblue: #213b55;
$mainbluealpha: rgba(33, 59, 80, 0.8);
$fb: dodgerblue;
$ig: darkorchid;
$yt: crimson;
$icon: #d8d8d8;
$biel: white;
$shadowcolor: rgba(0, 0, 0, 0.75);
$shadowsize: 0px 7px 24px 1px;