*{
    color: var(--secondary-color);;
}

.main-page-content-wrapper{
    width: calc(100% - 50px);
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    padding-top: 50px;
}

.main-page-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-bottom: 1rem;
}

.portrait-img{
    width: 100px;
    border-radius: 50px;
    border: 2px solid var(--tetriary-color);
    margin-right: 20px;
}

#about-card{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

#about-card p.name{
    font-size: 18px;
    font-weight: bold;
}

#description{
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--element-bg-color);
    border-radius: var(--card-radius);
    text-align: justify;
}

#about-card>div{
    padding-top: 10px;
}

.link-card-container{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
}