* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#main-nav {
    background-color: rgba(255, 255, 255, 0.5);
}

span {
    color: #1ac056;
}

#main-header {
    width: 100%;
    height: 500px;
    background-image: url("/theConsite.github.io/workshopnumeroduo/portfoliosass/app/img/img/header-background.jpg");
    background-size: cover;
}

#header-content {
    color: white;
    position: relative;
    top: 35%;
    text-align: center;
}

#header-content h1 {
    width: 310px;
    font-size: 50px;
    font-weight: 100;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

#header-content > p {
    font-size: 20px;
    font-weight: 100;
}

#about > h2 {
    text-align: center;
    font-weight: lighter;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#about img {
    width: 100%;
}

#about p {
    font-size: 1.3vw;
    text-align: right;
}

#skill {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #f7f7f7;
}

#skill > h2 {
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 40px;
}

#skill > p {
    margin-left: 7vw;
    margin-right: 7vw;
}

#skill .col-12 {
    margin-top: 20px;
}

#portfolio {
    padding-top: 30px;
    font-size: 0;
    padding-bottom: 30px;
}

#portfolio h2 {
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 40px;
}

/*Galeria portfolio*/

#anim1 {
    background-image: url("/theConsite.github.io/workshopnumeroduo/portfoliosass/app/img/img/portfolio1.jpg");
}

#anim2 {
    background-image: url("/theConsite.github.io/workshopnumeroduo/portfoliosass/app/img/img/portfolio2.jpg");
}

#anim3 {
    background-image: url("/theConsite.github.io/workshopnumeroduo/portfoliosass/app/img/img/portfolio4.jpg");
}

#anim1,
#anim2,
#anim3 {
    height: 200px;
}

.portfoliogal {
    margin-top: 10px;
}

.hidpad {
    width: 100%;
    height: 100%;
    padding: 1vw;
    opacity: 0;
    background-color: rgba(33, 59, 80, 0.8);
    transition: all 1s ease-in-out;
}

.hidpad:hover {
    opacity: 1;
}

.hid > h4 {
    font-size: 100%
}

.anim .hid {
    width: 100%;
    height: 100%;
    padding-bottom: 1vw;
    text-align: center;
    overflow: hidden;
    font-size: 2vw;
    color: white;
    border: 1px solid white;
    border-radius: 10%;
}

a[href="#"] {
    color: white;
    transition: all 1s linear;
}

a[href="#"]:hover {
    color: #1ac056;
}

.fas {
    font-size: 4vw;
    width: 4vw;
    height: 4vw;
}

#contact {
    color: white;
    background-color: #213b50;
    width: 100%;
    position: relative;
}

/*Strefa adresowa*/

#adres {
    font-style: normal;
    position: relative;
    top: 20px;
    height: 250px;
}

#tel3f0n {
    margin-top: 50px;
}

/*Koniec strefy adresowej*/

/*Formularz kontakt*/

.formularz {
    height: 370px;
    position: relative;
}

form {
    margin-top: 30px;
    position: absolute;
    height: 350px;
    right: 0px;
    top: 20px;
    width: 90%;
}

address a {
    text-decoration: none;
    color: #1ac056;
}

input,
textarea {
    display: block;
    margin-bottom: 15px;
    width: 95%;
    height: 30px;
    background-color: #294b66;
    color: white;
    border: 0px solid;
    resize: none;
}

textarea {
    height: 120px
}

#formbtn {
    background-color: #1ac056;
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border: 4px solid green;
    border-radius: 25px;
    transition: all 2s ease-in-out;
    position: absolute;
    right: 20px;
}

#formbtn:hover {
    border-radius: 0px;
    cursor: pointer;
    background-color: green;
    border-color: #1ac056;
}

/*Koniec formularza*/

/*Ikony*/

#ikony {
    position: relative;
    top: 20px;
    font-size: 45px;
}

.fa-facebook-f,
.fa-instagram,
.fa-youtube {
    color: #d8d8d8;
    transition: all 1s ease-in-out;
    margin-left: 20px;
}

.fa-facebook-f:hover {
    color: dodgerblue;
    transform: rotate(30deg);
}

.fa-instagram:hover {
    color: darkorchid;
    transform: rotate(30deg);
}

.fa-youtube:hover {
    color: crimson;
    transform: rotate(30deg);
}

footer {
    background-color: #182b3a;
    color: white;
    height: 23px;
    text-align: center;
    font-size: 16px;
}
