@media (min-width:785px) {
    #about-content {
        width: 781px;
        position: relative;
        margin: 0 auto;
    }
    #about {
        height: 394px;
        background-color: #f9fcfe;
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-box-shadow: 0px 7px 24px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 7px 24px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 7px 24px 1px rgba(0, 0, 0, 0.75);
    }
    #about p {
        font-size: 13px;
        text-align: justify;
        margin-right: 15px;
    }

    #about img {
        width: 240px;
        border-radius: 10%;
        margin-left: 40px;
        margin-right: 80px;
        float: left;
    }
    #skill > div {
        width: 12vw;
        height: 12vw;
        display: inline-block;
        margin-left: 3vw;
        margin-right: 3vw;
        margin-top: 20px;
        text-align: center;
    }
    .fab {
        width: 45px;
        height: 45px;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .anim {
        display: inline-block;
        position: relative;
        width: 25vw;
        height: 25vw;
        background-size: cover;
    }
}

@media (max-width:784px) {
    #about {
        height: 640px;
        background-color: #f9fcfe;
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-box-shadow: 0px 7px 24px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 7px 24px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 7px 24px 1px rgba(0, 0, 0, 0.75);
    }
    #about-content {
        width: 520px;
        position: relative;
        margin: 0 auto;
    }
    #about p {
        font-size: 12px;
        text-align: justify;
        overflow: hidden;
    }

    #about img {
        width: 50%;
        border-radius: 10%;
        position: relative;
        left: 25%;
    }
    #skill > div {
        width: 42vw;
        height: 12vw;
        display: inline-block;
        margin-left: 3vw;
        margin-right: 3vw;
        margin-top: 20px;
        text-align: center;
    }

    .anim {
        display: inline-block;
        position: relative;
        width: 37vw;
        height: 25vw;
        background-size: cover;
    }
    #anim3 {
        display: block;
        position: relative;
        width: 74vw;
    }
    .fab {
        font-size: 35px;
        width: 35px;
        height: 35px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
}