@media (min-width:785px) {
    #about-content {
        width: 781px;
        position: relative;
        margin: 0 auto;
    }
    #about {
        height: 394px;
        background-color: #f9fcfe;
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-box-shadow: 0px 7px 24px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 7px 24px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 7px 24px 1px rgba(0, 0, 0, 0.75);
    }
    #about p {
        font-size: 13px;
        text-align: justify;
        margin-right: 15px;
    }

    #about img {
        width: 240px;
        border-radius: 10%;
        margin-left: 40px;
        margin-right: 80px;
        float: left;
    }
}

@media (max-width:784px) {
    #about {
        height: 320px;
        background-color: #f9fcfe;
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-box-shadow: 0px 7px 24px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 7px 24px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 7px 24px 1px rgba(0, 0, 0, 0.75);
    }
    #about-content {
        width: 580px;
        position: relative;
        margin: 0 auto;
    }
    #about p {
        font-size: 10px;
        text-align: justify;
        margin-right: 5px;
    }

    #about img {
        width: 180px;
        border-radius: 10%;
        margin-left: 40px;
        margin-right: 40px;
        float: left;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

nav {
    float: right;
}

nav > ul > a > li {
    display: inline-block;
    height: 20px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: 15px;
    transition: color 1s;

}

a > li:hover {
    color: #1ac056;
}

#main-header {
    width: 100%;
    height: 500px;
    background-image: url("/theConsite.github.io/warsztaty/portfolio/img/img/header-background.jpg");
    background-size: cover;
}

#header-content {
    color: white;
    position: relative;
    top: 35%;
    text-align: center;
}

#header-content h1 {
    width: 310px;
    font-size: 50px;
    font-weight: 100;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}


#header-content > p {
    font-size: 20px;
    font-weight: 100;
}



#about > h2 {
    text-align: center;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 40px;
}

span {
    color: #1ac056;

}


#skill {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;

}

#skill > h2 {
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 40px;
}

#skill > p {
    margin-left: 7vw;
    margin-right: 7vw;
}

#skill > div {
    width: 12vw;
    height: 12vw;
    display: inline-block;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 20px;
    text-align: center;
}

#portfolio {
    padding-top: 30px;
    font-size: 0;
    padding-bottom: 30px;
}

#portfolio h2 {
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 40px;
}

#anim1 {
    background-image: url("/theConsite.github.io/warsztaty/portfolio/img/img/portfolio1.jpg");
}

#anim2 {
    background-image: url("/theConsite.github.io/warsztaty/portfolio/img/img/portfolio2.jpg");
}

#anim3 {
    background-image: url("/theConsite.github.io/warsztaty/portfolio/img/img/portfolio4.jpg");
}

.anim {
    display: inline-block;
    position: relative;
    width: 25vw;
    height: 25vw;
    background-size: cover;
}

#port {
    margin-left: 12vw;
}

.hidpad {
    width: 100%;
    height: 100%;
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0);
    transition: all 2s;
}

.hidpad:hover {
    background-color: rgba(33, 59, 80, 0.8);
}

.hid > h4 {
    font-size: 100%
}

.anim .hid {
    width: 100%;
    height: 100%;
    padding-bottom: 1vw;
    text-align: center;
    overflow: hidden;
    font-size: 2vw;
    color: rgba(0, 0, 0, 0);
    transition: all 2s;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10%;
}
.fas {
    font-size:5vw;
    width: 5vw;
    height: 5vw;
}

.hid:hover {
    color: white;
    border: 1px solid white;
}

#contact {
    color: white;
    background-color: #213b50;
    width: 100%;
    height: 400px;
    position: relative;
}

#adres {
    position: absolute;
    top: 20px;
    left: 15px;
    width: 45%;
    height: 250px;
}

#form {
    position: absolute;
    width: 45%;
    height: 350px;
    top: 20px;
    right: 15px;
}

address > a {
    text-decoration: none;
    color: #1ac056;
}

input,
textarea {
    display: block;
    margin-bottom: 15px;
    width: 95%;
    height: 30px;
    background-color: #205c8c;
    color: white;
    border: 0px solid;
}

textarea {
    height: 120px
}

button {
    background-color: #1ac056;
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border: 4px solid green;
    border-radius: 25px;
    transition: all 3s ease-in-out;
}

button:hover {
    border-radius: 0px;
    cursor: pointer;
    background-color: green;
    border-color: #1ac056;
}

#ikony {
    width: 45%;
    height: 50px;
    position: relative;
    top: 290px;
    left: 15px;
    font-size: 45px;
}

.fab {
    width: 45px;
    height: 45px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.fa-facebook-f,
.fa-instagram,
.fa-youtube {
    color: #d8d8d8;
    transition: all 1s ease-in-out;
}

.fa-facebook-f:hover {
    color: darkblue;
    transform: rotate(30deg);
}

.fa-instagram:hover {
    color: darkorchid;
    transform: rotate(30deg);
}

.fa-youtube:hover {
    color: crimson;
    transform: rotate(30deg);
}