* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

nav {
    float: right;
}

nav > ul > a > li {
    display: inline-block;
    height: 20px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: 15px;
    transition: color 1s;

}

a > li:hover {
    color: #1ac056;
}

#main-header {
    width: 100%;
    height: 500px;
    background-image: url("/theConsite.github.io/warsztaty/portfolio/img/img/header-background.jpg");
    background-size: cover;
}

#header-content {
    color: white;
    position: relative;
    top: 40%;
}

#header-content h1 {
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 100;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}


#header-content > p {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

#about {
    background-color: #f9fcfe;
    padding-top: 20px;
    padding-bottom: 20px;
}

#about > h2 {
    text-align: center;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 40px;
}

span {
    color: #1ac056;

}

#about > img {
    width: 30vw;
    border-radius: 10%;
    margin-left: 5vw;
    margin-right: 10vw;
    float: left;
}

#about p {
    font-size: 14px;
    text-align: justify;
    margin-right: 15px;
}

#skill {
    padding-top: 20px;
    text-align: center;

}

#skill > h2 {
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 40px;
}

#skill > p {
    margin-left: 7vw;
    margin-right: 7vw;
}
#skill>div {
    width:12vw;
    height: 12vw;
    display: inline-block;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 20px;
    text-align: center;
}
