* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

nav {
    float: right;
}

nav > ul > a > li {
    display: inline-block;
    height: 20px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: 15px;
    transition: color 1s;

}

a > li:hover {
    color: #1ac056;
}

#main-header {
    width: 100%;
    height: 500px;
    background-image: url("/theConsite.github.io/warsztaty/portfolio/img/img/header-background.jpg");
    background-size: cover;
}

#header-content {
    color: white;
    position: relative;
    top: 40%;
    text-align: center;
}

#header-content h1 {
    width: 100%;
    font-size: 50px;
    font-weight: 100;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}


#header-content > p {
    font-size: 20px;
    font-weight: 100;
}

#about {
    height: 394px;
    background-color: #f9fcfe;
    padding-top: 20px;
    padding-bottom: 20px;
}

#about > h2 {
    text-align: center;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 40px;
}

span {
    color: #1ac056;

}

#about > img {
    width: 240px;
    border-radius: 10%;
    margin-left: 40px;
    margin-right: 80px;
    float: left;
}

#about p {
    font-size: 13px;
    text-align: justify;
    margin-right: 15px;
}

#skill {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;

}

#skill > h2 {
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 40px;
}

#skill > p {
    margin-left: 7vw;
    margin-right: 7vw;
}

#skill > div {
    width: 12vw;
    height: 12vw;
    display: inline-block;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 20px;
    text-align: center;
}

#portfolio {
    padding-top: 30px;
    font-size: 0;
    padding-bottom: 30px;
}

#portfolio h2 {
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 40px;
}

#anim1 {
    background-image: url("/theConsite.github.io/warsztaty/portfolio/img/img/portfolio1.jpg");
}

#anim2 {
    background-image: url("/theConsite.github.io/warsztaty/portfolio/img/img/portfolio2.jpg");
}

#anim3 {
    background-image: url("/theConsite.github.io/warsztaty/portfolio/img/img/portfolio4.jpg");
}

.anim {
    display: inline-block;
    position: relative;
    width: 20vw;
    height: 25vw;
    background-size: cover;
    margin-left: 1vw;
    margin-right: 1vw;
}

.anim > .hid {
    padding-top: 30%;
    width: 20vw;
    height: 25vw;
    padding-bottom: 1vw;
    text-align: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    color: rgba(0, 0, 0, 0);
    transition: all 2s;
}

.hid:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

#port {
    margin-left: 17vw;
}

#contact {
    color: white;
    background-color: #213b50;
    width: 100%;
    height: 400px;
    position: relative;
}

#adres {
    position: absolute;
    top: 20px;
    left: 15px;
    width: 45%;
    height: 250px;
}

#form {
    position: absolute;
    width: 45%;
    height: 350px;
    top: 20px;
    right: 15px;
}

address > a {
    text-decoration: none;
    color: #1ac056;
}

input, textarea {
    display: block;
    margin-bottom: 15px;
    width: 95%;
    height: 30px;
    background-color: #205c8c; 
    color: white;
    border: 0px solid;
}
textarea {
    height: 120px
}
button {
    background-color: #1ac056;
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border: 4px solid green;
    border-radius: 25px;
    transition: all 3s ease-in-out;
}
button:hover {
    border-radius: 0px;
    cursor: pointer;
    background-color: green;
    border-color: #1ac056;
}