body {
  margin: 0;
font-family: 'Roboto', sans-serif;
}
nav {
    float: right;
}
nav > ul > a > li {
    display: inline-block;
    height: 20px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: 15px;
    
}
#main-header {
    width: 100%;
    height: 500px;
     background-image: url("/theConsite.github.io/warsztaty/portfolio/img/img/header-background.jpg");
    background-size: cover;
}
#header-content {
    color:white;
    position: relative;
    top: 40%;
}
.center {
    margin: auto;
    width: 90%;
    text-align: center;
    padding: 10px;
}
#header-content h1 {
    position: relative;
    left: 23%;
    font-size: 50px;
    font-weight: 100;
}
#header-content h1 span{
    color:#1ac056;
}
#header-content > p {
    font-size: 20px;
    font-weight: 100;
}